@(sessionId: String, contextPath: String)
<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>PROTE</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/stylesheets/main.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="assets/javascripts/ext/angular.min.js"></script>
  <script src="assets/javascripts/ext/ui-bootstrap-tpls.min.js"></script>
  <script src="assets/javascripts/ext/splitter.js"></script>
  <script src="assets/javascripts/ext/roomframework.js"></script>
  <script src="assets/javascripts/app.js"></script>
</head>
<body ng-init="sessionId='@sessionId'; contextPath='@contextPath'">
  <div ng-controller="MainController">
    <bg-splitter orientation="vertical">
      <bg-pane min-size="100">
        <div class="ctrl">
          <h1 class="logo">PROTE</h1>
          <tabset>
            <tab heading="filters">
              <div class="clear">
                <button class="btn btn-sm btn-warning" ng-click="clear()">Clear</button>
              </div>
              <ul class="filters">
                <li>
                  <label>
                    <input type="checkbox" ng-model="filters.image">
                    Hide images
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" ng-model="filters.script">
                    Hide js and css
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" ng-model="filters.html">
                    Hide html
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" ng-model="filters.status304">
                    Hide 304 response
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" ng-model="filters.status404">
                    Hide 404 response
                  </label>
                <li>
                  <label>
                    Find: 
                    <input type="text" class="form-control" ng-model="filters.search">
                  </label>
                </li>
              </ul>
            </tab>
            <tab heading="Test">
              <ul class="generates">
                <li><button class="btn btn-sm btn-info" ng-click="generateTest()">Generate test</button></li>
                <li><button class="btn btn-sm btn-info" ng-click="regenerateTest()">Regenerate</button></li>
              </ul>
            </tab>
          </tabset>
        </div>
        <div class="main" id="main">
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="sel"><input type="checkbox" ng-click="selectAll($event)"/></td>
                <th class="kind">Kind</th>
                <th class="request">Request</th>
                <th class="status">Status</th>
                <th class="time">Time</th>
              </tr>
            </thead>
              <tr 
                ng-repeat="request in list | filter:filterRow" 
                ng-class="tableClass(request)" 
                ng-click="clickTableRow(request)">
                <td class="sel"><input type="checkbox" ng-model="request.select"/></td>
                <td class="request">{{request.protocol}}</td>
                <td class="request">{{request.method}} {{request.uri}}</td>
                <td class="status">{{request.status}}</td>
                <td class="time">{{request.time}}ms</td>
              </tr>
            <tbody>
            </tbody>
          </table>
        </div>
      </bg-pane>
      <bg-pane min-size="150">
        <bg-splitter orientation="horizontal">
          <bg-pane min-size="50">
            <div>
              <h2 class="msg-header">Request</h2>
              <div class="msg-buttons">
                <button class="btn btn-xs btn-info" 
                  ng-show="selectedRequest.requestCanExpand() && !selectedRequest.requestExpanded()"
                  ng-click="showRequest(true)"
                >PrettyPrint</button>
                <button class="btn btn-xs btn-info" 
                  ng-show="selectedRequest.requestCanExpand() && selectedRequest.requestExpanded()"
                  ng-click="showRequest(false)"
                >Raw</button>
              </div>
            </div>
            <pre class="msg-body" ng-bind="requestMessage"></pre>
          </bg-pane>
          <bg-pane min-size="50">
            <div>
              <h2 class="msg-header">Response</h2>
              <div class="msg-buttons">
                <button class="btn btn-xs btn-info" 
                  ng-show="selectedRequest.responseCanExpand() && !selectedRequest.responseExpanded()"
                  ng-click="showResponse(true)"
                >PrettyPrint</button>
                <button class="btn btn-xs btn-info" 
                  ng-show="selectedRequest.responseCanExpand() && selectedRequest.responseExpanded()"
                  ng-click="showResponse(false)"
                >Raw</button>
              </div>
            </div>
            <pre class="msg-body" ng-bind="responseMessage"></pre>
          </bg-pane>
        </bg-splitter>
      </bg-pane>
    </bg-splitter>
    <form action="{{'/' + contextPath + '/test.js'}}" method="POST" id="generate-form">
      <input type="hidden" name="desc" value="">
      <input type="hidden" name="ids" ng-repeat="request in list | filter:filterRow" value="{{request.id}}">
    </form>
  </div>
  <script type="text/ng-template" id="generate-option">
    <div class="modal-header">
        <h3 class="modal-title">{{generateOption.title}}</h3>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group" ng-show="generateOption.regenerate">
          <label for="generate-option-id">Regenerate id</label>
          <input type="text" class="form-control" id="generate-option-id" ng-model="generateOption.id">
        </div>
        <div class="form-group">
          <label for="generate-option-filename">Filename</label>
          <input type="text" class="form-control" id="generate-option-filename" ng-model="generateOption.filename">
        </div>
        <div class="form-group">
          <label for="generate-option-description">Description</label>
          <input type="text" class="form-control" id="generate-option-description" ng-model="generateOption.description">
        </div>
        <div class="form-group">
          <label for="generate-option-kind">Kind</label>
          <select class="form-control" id="generate-option-kind" ng-model="generateOption.kind">
            <option value="mocha">JavaScript(Mocha)</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close('ok')">OK</button>
        <button class="btn btn-warning" ng-click="$close('cancel')">Cancel</button>
    </div>
  </script>
</body>
</html>
